* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  scroll-behavior: smooth;
}

img {
  display: block;
  max-width: 100%;
}

p {
  color: #888888;
  width: 466px ;
  height: 48px;
  top: -10px;
  left: 2011px;
}

